nmd-collapse {
	--nmd-collapse-duration: 0.5s;
	--nmd-collapse-animation: __nmd-collapse__simple;

	display: block;
	overflow: hidden;
	animation-name: var(--nmd-collapse-animation);
	animation-duration: var(--nmd-collapse-duration);
	animation-timing-function: linear;
	animation-fill-mode: none;
}

nmd-collapse::part(content-container) {
	overflow: auto;
}

nmd-collapse[hidden] {
	display: none;
}

nmd-collapse[collapsing] {
	animation-direction: normal;
	height: 0;
}

nmd-collapse[expanding] {
	animation-direction: reverse;
	height: auto;
}

nmd-collapse:not([collapsing]):not([expanding]){
	animation-name: none;
}

@keyframes __nmd-collapse__simple {
	0% {
		height: var(--nmd-collapse-calculated-height);
	}

	100% {
		height: 0;
	}
}

@keyframes __nmd-collapse__squish {
	0% {
		height: var(--nmd-collapse-calculated-height);
		transform: scaleY(1);
		
		transform-origin: 50% 0%;
		overflow: visible;
	}

	100% {
		height: 0;
		transform: scaleY(0);

		transform-origin: 50% 0%;
		overflow: visible;
	}
}

@keyframes __nmd-collapse__shrink {
	0% {
		height: var(--nmd-collapse-calculated-height);
		transform: scale(1);
		
		transform-origin: 50% 0%;
		overflow: visible;
	}

	100% {
		height: 0;
		transform: scale(0);

		transform-origin: 50% 0%;
		overflow: visible;
	}
}

@keyframes __nmd-collapse__flip {
	0% {
		height: var(--nmd-collapse-calculated-height);
		transform: perspective(100vw) rotate3d(1, 0, 0, 0);
		
		transform-style: preserve-3d;
		transform-origin: 50% 0%;
		overflow: visible;
	}

	100% {
		height: 0;
		transform: perspective(100vw) rotate3d(1, 0, 0, -90deg);

		transform-style: preserve-3d;
		transform-origin: 50% 0%;
		overflow: visible;
	}
}